@{
    ViewData["Title"] = "Perfil";
}

<div class="datosPersonales">
    <h1>¡Hola! @ViewBag.Integrante.nombreDeUsuario</h1>
    <h2>Bienvenido de vuelta a la cueva</h2>
    <h3>@ViewBag.Integrante.email</h3>
    <h3>@ViewBag.Integrante.password</h3>
    <h3>@ViewBag.Integrante.fechaDeNacimiento</h3>
    <h3>@ViewBag.Integrante.palabrasClaveQueDescriban</h3>
    <h3>@ViewBag.Integrante.logros</h3>
    <h3>@ViewBag.Integrante.opinionProfesional</h3>
    <h3>@ViewBag.Integrante.foto</h3>  
</div>

